# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs/editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data/cache
*.log
*.bak
*.tmp
*.csv
*.arff
